html {
    min-height: 100%;
}

body {
    font-family: 'Sora', sans-serif;
    display: grid;
    justify-content: center;
    background-color: rgb(255, 255, 255);    
}

main {
    display: grid;  
    grid-template-rows: .5fr 2fr .5fr 1fr 1fr 1fr;
    margin: 30px;
    padding: 30px;
    width: 1000px;
    gap: 5px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-left {
        display: grid;
        grid-template-rows: 1fr 1fr;
}

.name {
    font-weight: 600;
    font-size: 2em;
        background: linear-gradient(to right, rgb(3, 4, 94),rgb(0, 180, 216),rgb(202, 240, 248));  
        background-size: 200% 200%;
        animation: rainbow 2s ease-in-out infinite;
        background-clip: text;
        -webkit-background-clip:text;
        color:rgba(0,0,0,1);
        transition: color .2s ease-in-out;
    }

    .name:hover{
        color:rgba(0,0,0,0);
    }
    @keyframes rainbow { 
        0%{background-position:left}
        50%{background-position:right}
        100%{background-position:left}
    }



.title {
    font-weight: 300;
    font-size: 1em;
}

.version {
    display: grid;
    align-items: end;
    justify-items: end;
    align-items: start;
}

.v-btn {
    background: linear-gradient(to right, rgb(0, 119, 182),rgb(0, 180, 216),rgb(144, 224, 239));  
    background-size: 200% 200%;
    animation: rainbow 4s ease-in-out infinite;
    color:rgba(0,0,0,1);
    transition: color .2s ease-in-out;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.v-btn:hover {
   
}

.about-port {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 15px;
}

.about {
    color: white;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr .5fr;
    color: white;
}

.port-btn {
    color: blue;
    display: grid;
    justify-content: center;
    align-items: center;
}

.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;

}

.email {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;


}

.github {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.writing {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.row4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.linkedin {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
    
    
}

.twitter {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
   
}

.discord {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
 
}
.other {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;
    
}
.row5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.interests {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;

}

.resources {
    display: grid;
    padding: 15px;
    justify-content: center;
    align-items: center;

}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.alchemy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.vercel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.vercel-left {
    display: grid;
    align-items: end;
    justify-content: end;
}

.vercel-right {
    display: grid;
    align-items: start;

}

.alchemy-left {
    display: grid;
    align-items: end;
    justify-content: end;
}

.alchemy-right {
    display: grid;
    align-items: start;

}

a {
    text-decoration: none;
    color: black;
}